@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --background-color: #0A192F;
  --primary-color: #4EC9B2;
  --secondary-color:#93A2B7;
  --sec2-color:#ffffff;
  --sec3-color:#BCC5D2;
  --sec4-color:#122B39;
  --strong-color:#C3C1F6;
  --span-bgcolor:#122B39;

  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}


.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);

}


.home-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 1rem;
}

.intro-text{
  margin-bottom: 1rem;
  color: var(--primary-color);
  background-color: var(--background-color);
}
.sub-text{
  font-size:xx-large;
  color: #CCD6F6;
  font-weight: bolder;
}

.two{
  opacity: 0.5;
}

.description{
  color: #CCD6F6;
}
