.header{
   display:flex;
   align-items: center;
   justify-content: flex-end;
   padding-top:2rem;
   padding-bottom:2rem;
}

.header__menu{
   display: flex;
   align-items: center;
   list-style: none;
   padding: 0;
   gap:2em;
}

.header__link{
   font-size: var(--size-xs);
   text-decoration: none;
   font-weight: 600;
   color: var(--sec2-color);
   letter-spacing: -0.05em;

   transition: color 0.3s;
}

.header__link:hover{
   color: var(--primary-color);
}


@media(min-width:475px){
   .header__link{
      font-size: var(--size-sm);
   }

}
/*sm*/
@media(min-width:640px){
}
/*md*/
@media(min-width:768px){
   .header__link{
      font-size: var(--size-md);
   }
}

/*lg*/
@media(min-width:1024px){
   .header__link{
      font-size: var(--size-lg);
   }

}
/*xl*/
@media(min-width:1280px){

}
/*xxl*/
@media(min-width:1536px){

}