.header{
   display:flex;
   align-items: center;
   justify-content: center;
   padding:0.8rem 0;
   background-color: var(--background-color);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999;

   transition: all 300ms ease-in-out;
}

.header__menu{
   display: flex;
   align-items: center;
   list-style: none;
   padding: 0;
   gap:1.5em;
}

.header__link{
   font-size: var(--size-xs);
   text-decoration: none;
   font-weight: 600;
   color: var(--sec2-color);
   letter-spacing: -0.05em;
   padding: 0.25rem 0.5rem;
   cursor:pointer;


   transition: color 0.3s;
}

.header__link:hover{
   color: var(--primary-color);
}

.hide {
   top: -100px;
   position: sticky;
 }
 
 .show {
   top: 0;
   position: sticky;
 }

 .top{
   box-shadow: none;
 }


@media(min-width:475px){
   .header__link{
      font-size: var(--size-sm);
   }

}
/*sm*/
@media(min-width:640px){
}
/*md*/
@media(min-width:768px){
   .header__link{
      font-size: var(--size-md);
   }
}

/*lg*/
@media(min-width:1024px){
   .header__link{
      font-size: var(--size-lg);
   }

}
/*xl*/
@media(min-width:1280px){

}
/*xxl*/
@media(min-width:1536px){

}