.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.hero__img{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}

.hero__subtitle{
    color: var(--primary-color);
    font-size: var(--size-2xl);
    line-height: 0.9;
}
.hero__title{
    color: var(--sec2-color);
    font-size: var(--size-4xl);
    text-transform: uppercase;
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--secondary-color);
}

.hero__link{
    text-decoration: none;
    color: var(--sec2-color);
    cursor: pointer;
    
    transition: color 0.3s;
  }
  
  .hero__link:hover{
  transform: translateY(-2px);
   color: var(--primary-color);
}

.hero__link:focus {
  outline: 2px dashed var(--primary-color);
}


    /* xs */
@media (min-width: 475px) {
    .hero {
      gap: 1.5rem;
    }
  
    .hero__img {
      width: 7rem;
      height: 7rem;
    }
  
    .hero__subtitle {
      font-size: var(--size-lg);
    }
  
    .hero__title {
      font-size: var(--size-4xl);
    }
  
    .hero__description {
      font-size: var(--size-base);
    }
  
    /* .hero__btn {
      font-size: var(--size-base);
    } */
  }
/*sm*/
/* @media(min-width:640px){
} */
/*md*/
@media(min-width:768px){

  .hero__img {
    width: 9rem;
    height: 9rem;
  }

  .hero__subtitle {
    font-size: var(--size-xl);
  }

  .hero__title {
    font-size: var(--size-5xl);
  }

  .hero__description {
    font-size: var(--size-lg);
  }

}

/*lg*/
@media(min-width:1024px){
    .hero__img {
        width: 12rem;
        height: 12rem;
      }
    
      .hero__subtitle {
        font-size: var(--size-2xl);
      }
    
      .hero__title {
        font-size: var(--size-7xl);
      }
    
      .hero__description {
        font-size: var(--size-lg);
      }

}
/*xl*/
@media(min-width:1280px){

}
/*xxl*/
/* @media(min-width:1536px){

} */
