/* @media(min-width:475px){

} */
/*sm*/
/* @media(min-width:640px){
} */
/*md*/
/* @media(min-width:768px){
} */

/*lg*/
/* @media(min-width:1024px){

} */
/*xl*/
/* @media(min-width:1280px){

} */
/*xxl*/
/* @media(min-width:1536px){

} */


.container{
    width: 100%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 5rem;

  }

/* .section {
    margin-top: 5rem;
  } */

  .heading{
    font-size: var(--size-xl);
    font-weight: bold;
    color: var(--sec2-color);
  }
  .sub__heading{
    font-size: var(--size-sm);
    color: var(--sec2-color);
    font-weight: bold;
  }

  /* resume styles */
  .resume{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  /* .resume-image{
    width:707px;
  } */

  .download-link{
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5rem;
    border: 1px solid var(--sec2-color);
    padding: 10px;
    border-radius: 0.2rem;
    color: var(--sec2-color);

    transition: color 0.15s ease-in, background-color 0.15s ease-in;
  }

  .download-link:hover{

    background-color: var(--primary-color);
    color: var(--background-color);
    border-color: var(--primary-color);
  }

  .download-link:active{
    opacity: 0.75;
  }

  
/*xs*/
@media(min-width:475px){
    .container{
        max-width: 475px;
    }
    .resume-image{
      width: 400px;
    }
}
/*sm*/
@media(min-width:640px){
    .container{
        max-width: 640px;
    }
    .resume-image{
      width: 453.5px;
    }
    .heading{
      font-size: var(--size-2xl);
    }
}
/*md*/
@media(min-width:768px){
    .container{
        max-width: 768px;
    }
}
/*lg*/
@media(min-width:1024px){
    .container{
        max-width: 1024px;
    }
    .section {
        margin-top:10rem;
      }
      .resume-image{
        width: 707px;
      }
      .heading{
        font-size: var(--size-3xl);
      }

      
}
/*xl*/
@media(min-width:1280px){
    .container{
        max-width: 1280px;
    }
}
/*xxl*/
/* @media(min-width:1536px){
    .container{
        max-width: 1536px;
    }
} */